:root{
    --color-primario: rgb(252, 221, 247);
    --color-secundario: rgb(209, 157, 207);
    --color-contraste1: rgb(131, 49, 120);
    --color-contraste2: rgb(35, 26, 39);
    --color-contraste3:  rgb(62, 117, 121);
    /*Colores para que article de recordatorios se diferencie al resto de la pág y resalte:*/
    --color-article: rgb(140, 103, 156);
    --color-article2: rgb(166, 214, 218);
    }

body {
    background-color: var(--color-primario);
    font-family: "IBM Plex Serif", serif;
        margin: 0;
        padding: 0;
    
}

/* ENCABEZADO: */
header {
    background-image: url('Imagenes/fondo_header.jpg');
    background-color: var(--color-contraste1);
    background-position: 40% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;           
    height: 399px;              
}

header:hover  {
    
    transition: ease;
}

/* Ocultar elementos del menú hamburguesa: */
.menu-ham {
    display: none;
}

.label-ham {
    display: none;
}

/* Estilos para enlaces del menú:*/
.nav-inicio {
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    color: bold var(--color-terciario);
    gap: 25px;
}

.nav-inicio ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    }

.nav-inicio ol {
     color: var(--color-contraste2);
     font-weight: bold;
}

.nav-inicio li {
    margin: 0;
   
}

.nav-inicio a {
    text-decoration: none;
    color: var(--color-contraste2);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-inicio a:hover {
    cursor: pointer;
    color: var(--color-contraste3);
    transition: ease;
}


/*Estilización del título principal:*/
h1 { 
    font-family: 'Festive', cursive;
    color: var(--color-contraste3);
    font-size: 100px;
    text-align: center;
    width: 500px;
    display: flex;    
    justify-content: center;
    margin: 50px auto;
    border-radius: 50%;
    border-color: var(--color-contraste2);
    border-style: dashed;
    border-width: 5px;
}

.principal {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 50px;
    padding: 0;
    height: 500px;
}

.principal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SECCIÓN DE CONTENIDO: */

/* Grid para la sección de tutorial:*/
.tutorial {
    display: flex;
   flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.tuto-info{
    background-color: var(--color-secundario);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    border: 10px  solid var(--color-contraste2);
    padding: 20px;


}

.tuto-img {
    background-color: var(--color-contraste2);
    width: 100%;
    height: 500px;
    align-items: center;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 4px 5px 4px rgba(0, 0, 0, 0.2);
   
}
 .tuto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efecto hover para las imágenes del tutorial, a modo de hacer que sea un poco interactivo: */
.tuto-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:ease;
}

/*Estilo article de recordatorio:*/
.recordar {
    background-color: var(--color-article);
    color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 10px  solid var(--color-article2);
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.recordar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Diseño fragmento de video:*/
.video {
    align-items: center;
    text-align: center;
    height: 800px;
}

/*Apartado de tips/consejos:*/
.tips {
    background-color: var(--color-secundario);
    border-radius: 20px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 40px;
}

.tips h2 {
    color: var(--color-contraste1);
}

.tips-lista a {
    text-decoration: none;
    color: var(--color-contraste2);
}

.tips-lista a:hover {
    cursor: pointer;
    color: var(--color-contraste3);
}

/*Área de guía de metodos de decoración:*/
.guia {
    background-color: var(--color-contraste1);
    color: var(--color-primario);
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 40px;

}

/*Estilización de la tabla:*/
.tabla {
    border: 8px solid var(--color-contraste2);
    padding: 10px;
    border-collapse: collapse;
    }

.tabla th {
    background-color: var(--color-secundario);
    color: var(--color-contraste2);
}

.tabla th, td {
    border-bottom: 4px solid var(--color-contraste2);
    border-top: 4px  solid var(--color-contraste2);
    border-left: 4px solid var(--color-contraste2);
    border-right: 4px solid var(--color-contraste2);
    
}


/* Estilo sección de contacto:*/
.contacto {
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 8px  dashed var(--color-contraste3);
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
   
}
.btn-contac {
    padding: 12px 24px;
    background-color: var(--color-primario);
    transition: all 0.3s ease;
    display: inline-block;

}

.btn-contac:hover {
    cursor: pointer;
    transform: scale(1.05);
   
}


/* PIE DE PÁGINA: */
footer {
    background-color: var(--color-contraste1);
    color: var(--color-primario);
    padding: 20px;
    text-align: center;
     display: flex;
     gap: 50px;
     
}

/*Botón para vover al inicio:*/
.btn-inicio:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:ease;
     
}

/* Estilos para los enlaces en el pie de página:*/
.redes {
    list-style: none;
}

.enlace-redes {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primario);
}

.enlace-redes:hover {
    color: var(--color-contraste3);
    transform: scale(1.1);
    transition: ease;
}

/*MEDIA QUERIES:*/



/*Para tablets (VERTICAL):*/
 @media screen and (max-width: 768px) {
  body {
    font-size: 12px; 
    width: 100%;          
    margin: 0;        
    padding: 0;
    overflow-x: hidden;
    }


  header {
    width: 1030px;
    font-size: 5px;
    height: 200px;
    background-position: 40% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
  }

  /*MENÚ HAMBURGUESA:*/
  
/*Icono menú hamburguesa:*/
  .label-ham {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 90px;
    height: 10px;
    cursor: pointer;
  
  }

  .label-ham span {
    display: block;
    background-color: var(--color-contraste2);
    height: 4px;
    position: absolute;
    width: 20px;
    
  }
 
  /*Posiciones de las lineas del icono:*/
.label-ham span:nth-child(1) { top: 3px; }     /* Línea de arriba */
.label-ham span:nth-child(2) { top: 11px; }    /* Línea del medio */
.label-ham span:nth-child(3) { top: 19px; }   /* Línea de abajo */
 

/*Lista desplegable del menú:*/
  .nav-inicio {
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0px  1000px rgba(0, 0, 0, 0.2);
  }

  .nav-inicio ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 160px;
    background-color: var(--color-contraste1);
    transition: all 0.3s ease;
    margin-left: 3px;
    margin-right: 1000px;
    padding: 20px;
  }

  .nav-inicio a:hover {
    background-color: var(--color-primario);
    transition: ease;
  }

  /*Cuando se toca el icono (checkbox marcado) aparece la lista desplegable:*/
  .menu-ham:checked ~ .nav-inicio {
    display: block;
  }    

  h1 {
    font-size: 50px;
    border-width: 5px;
    margin-left: 0;
    height: 110px;
    width: 199px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
    }

    .principal {
        height: 300px;
        width: 600px;
        margin-left: 0px;

    }

     .img-principal {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: 0;
    }

    .tuto-info {
        height: 490px;
        width: 500px;
        margin-right: 110px;
        margin-bottom: 5px;
        padding: 3px;
    }

    .tuto-img {
        height: 300px;
        width: 200px;
    }

    .recordar {
        align-items: center;
        text-align: center;
        height: 300px ;
        width: 400px;
    }

    .video {
        height: 400px;
        margin-bottom: 2px;
       
    }
    /*Para acomodar tamaño de video:*/
    iframe {
        height: 300px;
        width: 550px;
        margin-bottom: 2px;
        }

    .contacto {
        height: 300px;
        padding-top: 10px;
        overflow: hidden;
        padding: 0px;
        display: flex;
      
    }

   footer {
    width: 1030px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 50px;
   }
 
}

/*Para tablets (HORIZONTAL):*/
@media screen and (max-width: 1024px) {
     body {
    font-size: 12px; 
    width: 100%;          
    margin: 0;        
    padding: 0;
    overflow-x: hidden;
    }


  header {
    width: 1030px;
    height: 90px;
    font-size: 5px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
  }

  


  h1 {
    font-size: 50px;
    border-width: 5px;
    margin-left: 0;
    height: 110px;
    width: 199px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
    }

    .principal {
        height: 300px;
        width: 100%;
        margin-left: 0px;

    }

     .img-principal {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: 0;
    }

    .tuto-info {
        height: 490px;
        width: 500px;
        margin-right: 110px;
        margin-bottom: 5px;
        padding: 3px;
    }

    .tuto-img {
        height: 300px;
        width: 200px;
    }

    .recordar {
        align-items: center;
        text-align: center;
        height: 300px ;
        width: 400px;
    }

    .video {
        height: 400px;
        margin-bottom: 2px;
        margin-left: 0px;
       
    }
    /*Para acomodar tamaño de video:*/
    iframe {
        height: 300px;
        width: 550px;
        margin-bottom: 2px;
        }

    .contacto {
        height: 315px;
        width: 200px;
        padding-top: 10px;
        overflow: hidden;
        padding: 0px;
        display: flex;
        margin-left: 30px;
      
    }

    .contacto h2 {
        margin-left: 0px;
    }

    .contacto h3 {
        margin-left: 0px;
    }

   footer {
    width: 1030px;
    height: 95px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 50px;
   }
  
  }





