:root{
    --color-primario: rgb(252, 221, 247);
    --color-secundario: rgb(209, 157, 207);
    --color-contraste1: rgb(131, 49, 120);
    --color-contraste2: rgb(35, 26, 39);
    --color-contraste3:  rgb(62, 117, 121);
    /*Colores para que article de recordatorios se diferencie al resto de la pág y resalte:*/
    --color-article: rgb(140, 103, 156);
    --color-article2: rgb(166, 214, 218);
    }

* { /*Para eliminar margenes del navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    font-family: "IBM Plex Serif", serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

/* ENCABEZADO: */
header {
    background-image: url('Imagenes/fondo_header.jpg');
    background-color: var(--color-contraste1);
    background-position: 40% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;       
    height: 399px;    
    width: 100%;         
    margin: 0; 
    gap: 20px;          
}


/* Ocultar elementos del menú hamburguesa: */
.menu-ham {
    display: none;
}

.label-ham {
    display: none;
}

/* Estilos para enlaces del menú:*/
.nav-inicio {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    color: bold var(--color-terciario);
    gap: 25px;
}

.nav-inicio ul {
    display: flex;
    list-style: none;
    gap: 50px;
    }

.nav-inicio ol {
     color: var(--color-contraste2);
     font-weight: bold;
    
}


.nav-inicio a {
    text-decoration: none;
    color: var(--color-contraste2);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-inicio a:hover {
    cursor: pointer;
    color: var(--color-contraste3);
    transition: ease;
}


/*Estilización del título principal:*/
h1 { 
    font-family: 'Festive', cursive;
    color: var(--color-contraste3);
    font-size: 100px;
    text-align: center;
    width: 500px;
    display: flex;    
    justify-content: center;
    margin: 50px auto;
    border-radius: 50%;
    border-color: var(--color-contraste2);
    border-style: dashed;
    border-width: 5px;
}

.principal {
    display: flex;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 50px;
    padding: 0;
    height: 500px;
}

.principal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SECCIÓN DE CONTENIDO: */

/* Grid para la sección de tutorial:*/
.tutorial {
    display: flex;
   flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.tuto-info{
    background-color: var(--color-secundario);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 10px  solid var(--color-contraste2);
    padding: 20px;


}

.tuto-info ul {
    padding-left: 20px;
}

.tuto-img {
    background-color: var(--color-contraste2);
    width: 100%;
    height: 500px;
    align-items: center;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 4px 5px 4px rgba(0, 0, 0, 0.2);
   
}
 .tuto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efecto hover para las imágenes del tutorial, a modo de hacer que sea un poco interactivo: */
.tuto-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:ease;
}

/*Estilo article de recordatorio:*/
.recordar {
    background-color: var(--color-article);
    color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 10px  solid var(--color-article2);
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.recordar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Diseño fragmento de video:*/
.video {
    align-items: center;
    text-align: center;
    height: 800px;
}

/*Apartado de tips/consejos:*/
.tips {
    background-color: var(--color-secundario);
    border-radius: 20px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 40px;
}

.tips h2 {
    color: var(--color-contraste1);
}

.tips-lista a {
    text-decoration: none;
    color: var(--color-contraste2);
}

.tips-lista a:hover {
    cursor: pointer;
    color: var(--color-contraste3);
}

/*Área de guía de metodos de decoración:*/
.guia {
    background-color: var(--color-contraste1);
    color: var(--color-primario);
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 40px;

}

/*Estilización de la tabla:*/
.tabla {
    border: 8px solid var(--color-contraste2);
    padding: 10px;
    border-collapse: collapse;
    }

.tabla th {
    background-color: var(--color-secundario);
    color: var(--color-contraste2);
}

.tabla th, td {
    border-bottom: 4px solid var(--color-contraste2);
    border-top: 4px  solid var(--color-contraste2);
    border-left: 4px solid var(--color-contraste2);
    border-right: 4px solid var(--color-contraste2);
    
}


/* Estilo sección de contacto:*/
.contacto {
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 8px  dashed var(--color-contraste3);
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
   
}
.btn-contac {
    padding: 12px 24px;
    background-color: var(--color-primario);
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 20px;

}

.btn-contac:hover {
    cursor: pointer;
    transform: scale(1.05);
   
}


/* PIE DE PÁGINA: */
footer {
    background-color: var(--color-contraste1);
    color: var(--color-primario);
    display: flex;
    gap: 50px;
    padding: 20px;
    width: 100%;
     
}

/*Botón para vover al inicio:*/
.btn-inicio:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:ease;
     
}

/* Estilos para los enlaces en el pie de página:*/
.redes {
    list-style: none;
}

.enlace-redes {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primario);
}

.enlace-redes:hover {
    color: var(--color-contraste3);
    transform: scale(1.1);
    transition: ease;
}


/*MEDIA QUERIES:*/

/*Para tablets (VERTICAL):*/


 @media screen and (max-width: 886px) {
    html, body {
    overflow-x: hidden;
    width: 100%;
    
}
  
body {
    font-size: 12px; 

}

header, footer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

  header {
    font-size: 5px;
    background-position: 40% 45%; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
  }

  /*MENÚ HAMBURGUESA:*/
  
/*Icono menú hamburguesa:*/
  .label-ham {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 90px;
    height: 10px;
    cursor: pointer;
    position: relative;
  
  }

  .label-ham span {
    display: block;
    background-color: var(--color-contraste2);
    height: 4px;
    position: absolute;
    width: 20px;
    
  }
 
  /*Posiciones de las lineas del icono:*/
.label-ham span:nth-child(1) { top: 3px; }     /* Línea de arriba */
.label-ham span:nth-child(2) { top: 11px; }    /* Línea del medio */
.label-ham span:nth-child(3) { top: 19px; }   /* Línea de abajo */
 

/*Lista desplegable del menú:*/
  .nav-inicio {
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0px  1000px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 0;
  }

  .nav-inicio ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    background-color: var(--color-contraste1);
    transition: all 0.3s ease;
    margin-left: 3px;
    margin-right: 0px;
    padding: 20px;
  }

  .nav-inicio a:hover {
    background-color: var(--color-primario);
    transition: ease;
  }

  /*Cuando se toca el icono (checkbox marcado) aparece la lista desplegable:*/
  .menu-ham:checked ~ .nav-inicio {
    display: block;
  }    

  h1 {
    font-size: 50px;
    border-width: 5px;
    margin-left: 0;
    text-align: center;
    }

    
   footer, header, .principal, .tuto-info, .guia, .recordar, .video, iframe, .contacto {
    width: 100%;
    max-width: 100%;
      margin: 0 0;
   
   }

   .video {
    height: 400px;
   margin-bottom: 10px;
   }

   .principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
   }

     .principal img {
    max-width: 100%;
    height: auto;
    display: block;}
}

/*Para tablets (HORIZONTAL):*/
@media screen and (max-width: 1180px) {
    
     body {
    font-size: 20px;
    width: 100%;          
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
   
.principal, .tuto-info, .guia, .recordar, .video, .contacto {
     margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    
}

.principal img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0;
   }

  /* Menú hamb*/
  .label-ham {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 90px;
    height: 10px;
    cursor: pointer;
  
  }

  .label-ham span {
    display: block;
    background-color: var(--color-contraste2);
    height: 4px;
    position: absolute;
    width: 20px;
    
  }
 
 
.label-ham span:nth-child(1) { top: 4px; }     
.label-ham span:nth-child(2) { top: 13px; }    
.label-ham span:nth-child(3) { top: 20px; }   
 
 .nav-inicio {
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0px  1000px rgba(0, 0, 0, 0.2);
  }

  .nav-inicio ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    background-color: var(--color-contraste1);
    transition: all 0.3s ease;
    margin-left: 3px;
    margin-right: 0px;
    padding: 30px;
  }

  .nav-inicio a:hover {
    background-color: var(--color-primario);
    transition: ease;
  }

  .menu-ham:checked ~ .nav-inicio {
    display: block;
  }    

  
  }

  /*Celulares pequeños:*/
  @media screen and (max-width: 480px) {
    body {
        font-size: 11px;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        width: 100%;
        font-size: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }

    .recordar {
        text-align: center;
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    .video {
        width: 100%;
        margin-bottom: 100px;
    }

     h1 {
        width: 199px;
        margin: 0 auto;
     }

     .tips {
        flex-direction: column;
        align-items: center;
     }

     .guia {
         width: 100%;
     }

     .guia table {
        width: 100%;
        border-collapse: collapse;
     }

     .nav-inicio ul {
        margin-top: 150px;
     }

     footer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        gap: 50px;
     }

}

/*Celulares pequeños (HORIZONTAL):*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 11px;
    }
    header {
        width: 100%;
        font-size: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    .video {
        width: 100%;
        margin-bottom: 100px;
    }

     h1 {
        width: 100%;
        margin: 0 auto;
     }

     .tips {
        flex-direction: column;
        align-items: center;
     }

     .guia {
        flex-direction: column;
        align-items: center;
        width: 100%;
     }

     .nav-inicio ul {
        margin-top: 150px;
     }

     .principal h2{
        font-size: 10px;
        margin-left: 0px;
        margin-right: 400px;
     }

     .img-principal {
        width: 100%;
        object-fit: cover;
        margin: 0;
     }

    }

        /*Celulares grandes:*/
        @media screen and (min-width: 481px) and (max-width: 768px) {
            body {
                font-size: 11px;
            }
            header {
                width: 100%;
                font-size: 5px;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin: 0;
            }

            iframe {
              height: 200px;
            }

             h1 {
                font-size: 30px;
                border-width: 3px;
                width: 150px;
                height: 80px;
             }

             .tips {
                flex-direction: column;
                align-items: center;
             }

             .guia {
                flex-direction: column;
                align-items: center;
                width: 500px;
             }

             .nav-inicio ul {
                margin-top: 150px;
             }

             .principal h2{
                font-size: 10px;
                margin-left: 0px;
                margin-right: 400px;
             }

             .img-principal {
                width: 100%;
                height: 300px;
                object-fit: cover;
                margin: 0;
             }

            }

            /*Celulares grandes (HORIZONTAL):*/
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                body {
                    font-size: 15px;
                }

                header {
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    margin: 0;
                }

                iframe {
                  width: 100%;
                }

                 h1 {
                    font-size: 30px;
                    width: 150px;
                    height: 80px;
                 }

                 .tips {
                    width: 100%;
                    flex-direction: column;
                 }

                 .guia {
                     width: 80%;
                     margin: 0 auto;
                 }

                 .nav-inicio ul {
                    margin-top: 150px;
                    margin-left: 0;
                 }

                 .principal h2{
                    font-size: 10px;
                    margin-left: 0px;
                    margin-right: 400px;
                 }
                 
                 .principal {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    overflow: hidden;
                 }

                 .img-principal {
                    width: 100%;
                    object-fit: cover;
                    margin: 0;
                 }

                }

/*Estilos para el formulario de contacto:*/
fieldset {
    border: 5px solid var(--color-contraste2);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: var(--color-article2);
    margin: 0 auto;
}


input:not([type="radio"]), textarea {
    width: 100%;
    font-family: "IBM Plex Serif", serif;
    border: 3px solid var(--color-contraste3);
    border-radius: 10px;
    background-color: var(--color-secundario);
    color: var(--color-contraste2);
   }

   textarea::placeholder {
    color: var(--color-contraste2);
    font-size: 16px;
    
   }

   legend {
    padding: 0 10px;
    margin-left: 10px;
    background-color: var(--color-primario);
    border-radius: 10px;
    border: 3px solid var(--color-contraste2);
    }

    .opciones {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    }
    
    .opciones label {
        display: inline;
    }
    .opciones input[type="radio"] {
        accent-color: var(--color-contraste1);
    }

   .btn-enviar {
    display: block;

    font-family: "IBM Plex Serif", serif;
    border: 4px solid var(--color-contraste3);
    border-radius: 10px;
    background-color: var(--color-contraste2);
    color: var(--color-primario);
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

   .btn-enviar:hover {
    background-color:var(--color-article2);
    color: var(--color-contraste2);
    border: 4px solid var(--color-contraste2);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
   }

   #list {
    display: none;
   }

   .advertencia {
    text-align: center;
    margin: 15px 0 20px 0;
    font-weight: bold;
    min-height: 25px;
    display: block;
    font-size: 20px;
}

