:root{
    --color-primario: rgb(252, 221, 247);
    --color-secundario: rgb(209, 157, 207);
    --color-contraste1: rgb(131, 49, 120);
    --color-contraste2: rgb(35, 26, 39);
    --color-contraste3:  rgb(62, 117, 121);
    }

body {
    background-color: var(--color-primario);
    font-family: "IBM Plex Serif", serif;
}

/* Encabezado */

header {
    background-image: url('Imagenes/fondo_header.jpg');
    background-color: var(--color-contraste1);
    background-position: 40% 45%;
   background-size: cover;
   background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;           
    height: 399px;              
}

.nav-inicio {
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    color: bold var(--color-terciario);
    gap: 25px;
}

.nav-inicio ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

.nav-inicio li {
    margin: 0;
}






.im-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 15px;
  
}


/* Sección de contenido */




footer {
    background-color: var(--color-contraste1);
    color: var(--color-primario);
    padding: 20px;
    text-align: justify;
}

footer ul a:hover{
   
    color: var(--color-contraste3);
}


ul {
    list-style: none;
}

ul a{
    text-decoration: none;
    color: var(--color-terciario);
    
}

ul a:hover{
    cursor: pointer;
    color: var(--color-contraste3);
}

h1{
    font-family: 'Festive', cursive;
    color: var(--color-contraste3);
    font-size: 100px;
    text-align: center;
    width: 500px;
    display: flex;    
    justify-content: center;
    margin: 50px auto;
}

#esmalt {
    background-color: var(--color-secundario);
}

.lista {
    list-style-type:circle;
    list-style-position: inside;
}

.pasos {
    background-color: var(--color-cuarto);
    border: 5px solid var(--color-contraste1);
    color: var(--color-contraste3);
}

.tit_pas {
    color: var(--color-contraste2);
    text-align: center;
}

